/* Global Styles */

html,
body {
    height: 100%;
    
}

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

/*Image d'hébergements */
/*Liste */
.img-hebergs {
    width: 100%;
    height : 100%;
}
/*Un seul */
.img-heberg {
    width: 400px;
    height : 200px;
    float : right;
}

/*Survol*/
.img-hover:hover {
    opacity: 0.8;
}

/* centrer un élément */
.center{
    display : block;
    float: none;
    margin: 0 auto;  
}

/*Circular img */
.circular {
    width: 200px;
    height: 200px;
    border-radius: 150px;
}

/* Erreur */

.erreur{
    color: red;
}
.page-header{
    margin-top: 10px;
}

.form-centre{
    margin-top: 20px;
}


/*Table color */

.table-color{
    background-color: #F9f9f9;
}

/* Ancre sur les réservations pour le gestionnaire */

.ancre-resa{
    padding-top: 70px;
    margin-top: -70px;
}
.dark-line{
    border-top-color: grey;
}
.bt-recherche{
    margin-top: 10px;
}